{% extends 'base.html' %}

{% block title %} REGISTER {% endblock %}

<link rel="stylesheet" href="../static/css/register.css">

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="signup-form">
                    <div class="text-center"><img src="../static/logo.png" class="logo"></div>
                    <h2>Sign Up</h2>
                    <form method="POST">                    <!--Added method and action here, names were also added-->
                        <div class="form-group">
                            <label>Email Address</label>
                            <input type="email" class="form-control" name="email" placeholder="Enter email address">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" name="password" placeholder="Enter password">
                        </div>
                        <div class="form-group">
                            <label>Confirm Password</label>
                            <input type="password" class="form-control" name="confirm_password" placeholder="Confirm password">
                        </div>
                        <div class="form-group">
                            <label>Full Name</label>
                            <input type="text" class="form-control" name="fname" placeholder="Enter full name">
                        </div>
                        <input type="submit" class="btn btn-primary btn-block" value="Sign Up">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}